/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/

.foto {width: 250px;
        margin-left: 1rem;
    margin-bottom: -0.5rem;}

.obsah {position: relative;
    margin-top: 0rem;
    margin-bottom: -1rem;
    margin-left: 1rem;    
    height: 400px;
    width: 250px;
    color: whitesmoke;
    background: #31363b;
    margin: 0,5rem;
    padding: 1rem;
    font-size: 16px; 
    font-family: 'Source Sans Pro' , sans-serif;}


.logo {background-color: #b92e81;
    border-radius: 180%;
position: absolute;
top: 150px;
left: 200px;
z-index: 1;}

.portfolio {display: block;
    width: 250px;
    padding: 1rem;
    border: 0,5px;
    border-color: #3f464d;
    background:  #31363b;}

.facebook {display: inline-block;
    width: 125px;
    padding: 1rem;
     border: 0,5px;
     border-color: #3f464d;
     background:  #31363b}

.twitter {display: inline-block;
    width: 125px;
    padding: 1rem;
    border: 0,5px;
    border-color: #3f464d;
    background:  #1da1f2}

.portfolio a {padding: 3.5rem; color: white; font-family: 'Montserrat';}
.facebook a {padding: 1.3rem; color: white; font-family: 'Montserrat';}
.twitter a {padding: 1.3rem; color: white; font-family: 'Montserrat';}

body {background-color: #bdc3c7;}
